/* Global */
a:focus,
a:hover,
.header .brand:focus,
.header .brand:hover {
  color: red !important;
}

/* Header */
.header .brand {
  float: left;
  background: no-repeat left url("./logo-32.png");
  padding-left: 40px; /* 32 + 8 */
  padding-right: 8px;
  color: #fff;
}

.header .menu li {
  display: inline-block;
}

.header .menu li a {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
}

.header .menu li a:link,
.header .menu li a:visited,
.header .menu li a:active {
  color: rgba(255, 255, 255, 0.65);
}

.header .menu li a.active {
  background: #1890ff;
}

/* Content */
.content {
  padding: 0 24px;
  min-height: 280px;
}

.content h2:first-child {
  margin-top: 0;
}

.content h2 {
  margin-top: 32px;
}

.content div.controls {
  display: flex;
  justify-content: flex-start;
  margin-top: 16px;
  margin-bottom: 16px;
}

.content span.warning {
  color: orange;
}

.content span.warning::before {
  content: " ⚠️";
}
